/* choose one of the following */
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";

/* MINIMAL THEME
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/minimal";
*/

/* ENTERPRISE THEME
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/enterprise";
*/

/* PLAYFUL THEME
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/playful";
*/

/* MONO THEME
@import "flowbite/src/themes/mono";
*/

body{
    background-color:rgb(255, 246, 197);
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    line-height: 1.6;
}
a{
    color: rgb(255, 94, 0);
}
a:hover{
    text-decoration: underline;
}
#search-button{
    background-color: rgb(238, 196, 71);
    color: white;
    border:none;
    border-radius: var(--border-radius);
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 600;
}
.mn-ctner{
width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 1rem;
  align-items: center;
}
header{
    text-align: center;
}
.api-link{
    text-align: center;
}
.search-container{
    display: flex;
    justify-content: center;
    margin-bottom:2rem;
    gap: 10px;
    max-width: 500px;
    margin-left:auto;
    margin-right:auto ;
}
.hidden{
    display: none;
}

