body{
    background-color:rgb(245, 251, 230);
    font-family: "Roboto", sans-serif;
}
header{
    text-align: center;
}
.api-link{
    text-align: center;
}
.search-container{
    display: flex;
  margin-bottom: 2rem;
  gap: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}