body{
    background-color:rgb(245, 251, 230);
    font-family: "Roboto", sans-serif;
}

.mn-ctner{
    width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 1rem;
  align-items: center;
}
header{
    text-align: center;
}
.api-link{
    text-align: center;
}
.search-container{
    display: flex;
  
}
.hidden{
    display: none;
}